.homepage section[role=main] {
    margin-left: 24px;
    margin-right: 24px;
}

.fragment section[role=main] {
	width: calc(100% - 48px)
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
}

.title {
    display: table;
    font-size: large;
    margin: auto;
    margin-top: 10px;
}

.oxenLogo {
    position: absolute;
    right: 10px;
}

.aajLogo {
    left: 10px;
    position: absolute;
    margin-top: 7px;
    width: 75px;
}

.customerManagement {
    display: table;
    margin: auto;
    margin-top: 100px;
}

.samples {
    display: table;
    margin: auto;
    margin-top: 100px;
}
